In [1]:
#################################################
# IMDB ETL - Init
#################################################

import pandas as pd
import numpy  as np
###
# Null date conversion fun
def conv(val):
    if not val:
        return 0    
    try:
        return np.int(val)
    except:        
        return np.int(0)

In [2]:
import pandas as pd
import numpy  as np

#################################################
# Principals
#################################################

P = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t',encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                 #, error_bad_lines=False
                )
P["cat_cln"] = np.where (P['category'].str.contains('actor') | P['category'].str.contains('actress')
                         ,'actor'
                         ,P['category'])
P["cat_cln"] = np.where (P['category'].str.contains('self') | P['category'].str.contains('archive_footage')
                         ,'self',P['cat_cln'])


P.head(5)

,tconst,ordering,nconst,category,job,characters,cat_cln
0,tt0000001,1,nm1588970,self,\N,"[""Self""]",self
1,tt0000001,2,nm0005690,director,\N,\N,director
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,cinematographer
3,tt0000002,1,nm0721526,director,\N,\N,director
4,tt0000002,2,nm1335271,composer,\N,\N,composer

In [3]:
import pandas as pd
import numpy  as np
#################################################
# Titles
#################################################

def conv(val):
    if not val:
        return 0    
    try:
        return np.int(val)
    except:        
        return np.int(0)

T = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t'
                 , encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                #, error_bad_lines=False
                #, dtype={'startYear': int }
                 , converters={'startYear':conv,'endYear':conv}                
                ) 
T["flg_doc"]           = np.where (T['genres'].str.contains('Documentary'),'Documentary','Fiction')
T["primaryTitle_year"] = T['primaryTitle']  + ' ('+  T['startYear'].map(str)  + ')'
## filter movie 
T = T.loc[T.titleType == 'movie', :]

C:\Users\cw13\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
T.tail(1000)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year
9460876,tt9863566,movie,Urbanus: De Vuilnisheld,Urbanus: De Vuilnisheld,0,2019,0,72,"Animation,Comedy",Fiction,Urbanus: De Vuilnisheld (2019)
9460911,tt9863642,movie,Deceitful Tendencies,Deceitful Tendencies,0,2022,0,84,"Drama,Romance,Thriller",Fiction,Deceitful Tendencies (2022)
9460973,tt9863778,movie,A Kidnap,A Kidnap,0,0,0,\N,Thriller,Fiction,A Kidnap (0)
9460980,tt9863792,movie,Joshua trip,Joshua trip,0,2014,0,52,Documentary,Documentary,Joshua trip (2014)
9460983,tt9863798,movie,Diários Suspensos,Diários Suspensos,0,2016,0,92,"Documentary,Drama",Documentary,Diários Suspensos (2016)
...,...,...,...,...,...,...,...,...,...,...,...
9485296,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,0,57,Documentary,Documentary,Rodolpho Teóphilo - O Legado de um Pioneiro (2...
9485323,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,0,100,Documentary,Documentary,De la ilusión al desconcierto: cine colombiano...
9485335,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,\N,Comedy,Fiction,Dankyavar Danka (2013)
9485345,tt9916730,movie,6 Gunn,6 Gunn,0,2017,0,116,\N,Fiction,6 Gunn (2017)
9485355,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,0,49,Documentary,Documentary,Chico Albuquerque - Revelações (2013)

In [5]:
var_list = ('tconst','primaryTitle' , 'titleType')
#D = newdf.loc[:,('const','title', 'dat_per', 'title_type')]
D = T.loc[:, var_list]
D.head()
pd.get_dummies(D, columns=['titleType']).head(3)

        tconst                   primaryTitle  titleType_movie
8    tt0000009                     Miss Jerry                1
144  tt0000147  The Corbett-Fitzsimmons Fight                1
498  tt0000502                       Bohemios                1

In [6]:
#################################################
# Names
#################################################
    
N = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t',encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                 #, error_bad_lines=False
                 , converters={'birthYear':conv,'deathYear':conv}         
                )


#N["primaryName_year"] = N['primaryName']  + ' ('+  N['birthYear'].map(str) + ' - ' +  N['deathYear'].map(str)  + ')'

N["primaryName_year"] = N['primaryName']  + np.where(N['birthYear']==0, ' ',  ' ('+  N['birthYear'].map(str) + ' - '  +  np.where (N['deathYear'] == 0, ' ',  N['deathYear'].map(str)) + ')')
N.head(3)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,primaryName_year
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0045537,tt0072308,tt0050419,tt0053137",Fred Astaire (1899 - 1987)
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0038355,tt0037382,tt0117057",Lauren Bacall (1924 - 2014)
2,nm0000003,Brigitte Bardot,1934,0,"actress,soundtrack,music_department","tt0049189,tt0056404,tt0054452,tt0057345",Brigitte Bardot (1934 - )

In [7]:
#################################################
# Ratings
#################################################
R = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t',encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                 #, error_bad_lines=False
                )
R.rename(columns = {  "averageRating": "tconst_imdb_rating"
                      , "numVotes":   "tconst_imdb_num_votes"
                      , "Const": "tconst"}
                      , inplace = True)
R.tail(3)

            tconst  tconst_imdb_rating  tconst_imdb_num_votes
1260518  tt9916730                 8.0                      8
1260519  tt9916766                 7.0                     21
1260520  tt9916778                 7.3                     35

In [8]:
############################################ 
### import my Ratings 
############################################ 
myR = pd.DataFrame()
myR = pd.read_csv ("data/ratings.csv", encoding='latin-1')
myR.rename(columns = {  "Your Rating": "tconst_your_rating"
                      , "Num Votes":   "tconst_your_num_votes"
                      , "Const": "tconst"}
                      , inplace = True)
myR.tail(3)

,tconst,tconst_your_rating,Date Rated,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,tconst_your_num_votes,Release Date,Directors
951,tt0099699,7,2013-01-01,Green Card,https://www.imdb.com/title/tt0099699/,movie,6.3,107.0,1990,"Comedy, Drama, Romance",24817.0,1990-12-23,Peter Weir
952,tt0099703,6,2011-09-03,The Grifters,https://www.imdb.com/title/tt0099703/,movie,6.9,110.0,1990,"Crime, Drama, Thriller",28528.0,1990-09-14,Stephen Frears
953,tt0099818,7,2022-10-05,I Hired a Contract Killer,https://www.imdb.com/title/tt0099818/,movie,7.2,79.0,1990,"Comedy, Crime, Drama, Romance",6464.0,1990-09-13,Aki KaurismÃ¤ki

In [9]:
#################################################
# Join
#################################################
from datetime import datetime
             
imdb = pd.merge(    P
                  , T 
                  , how = 'inner', left_on="tconst", right_on="tconst"
                 )
imdb = pd.merge(     N.loc[:, ('nconst','primaryProfession', 'primaryName', 'birthYear', 'deathYear', 'primaryName_year')]
                  , imdb
                  , how = 'inner', left_on="nconst", right_on="nconst"
                 )
imdb = pd.merge(     R.loc[:, ('tconst','tconst_imdb_rating', 'tconst_imdb_num_votes')]
                  , imdb
                  , how = 'inner', left_on="tconst", right_on="tconst"
                 )
imdb = pd.merge(    myR.loc[:, ('tconst','tconst_your_rating')]
                  , imdb
                  , how = 'right', left_on="tconst", right_on="tconst"
                 )
imdb['rate_diff']           = imdb['tconst_your_rating'] - imdb['tconst_imdb_rating']
##imdb["age_crew"]            = int(imdb["birthYear_cln"]) -  int(imdb["startYear_cln"])
imdb["last_refresh"]        = datetime.now().strftime('%Y%m%d%H%M%S')
print(P.shape, imdb.shape)

(53848406, 7) (2540136, 27)

In [10]:
imdb[imdb['tconst'] == "tt1745960"].head(15)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year,rate_diff,last_refresh
2820,tt1745960,7.0,8.4,465345,nm0000124,actress,Jennifer Connelly,1970,0,Jennifer Connelly (1970 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2821,tt1745960,7.0,8.4,465345,nm0000129,"actor,producer,soundtrack",Tom Cruise,1962,0,Tom Cruise (1962 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2822,tt1745960,7.0,8.4,465345,nm0000174,"actor,soundtrack,producer",Val Kilmer,1959,0,Val Kilmer (1959 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2823,tt1745960,7.0,8.4,465345,nm0143596,writer,Jim Cash,1941,2000,Jim Cash (1941 - 2000),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2824,tt1745960,7.0,8.4,465345,nm0185976,"writer,producer,director",Peter Craig,1969,0,Peter Craig (1969 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2825,tt1745960,7.0,8.4,465345,nm0258390,"writer,camera_department,producer",Jack Epps Jr.,1949,0,Jack Epps Jr. (1949 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2826,tt1745960,7.0,8.4,465345,nm0472567,"writer,producer,script_department",Ehren Kruger,1972,0,Ehren Kruger (1972 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2827,tt1745960,7.0,8.4,465345,nm1098479,"writer,producer,miscellaneous",Justin Marks,0,0,Justin Marks,...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2828,tt1745960,7.0,8.4,465345,nm1886602,"actor,producer,soundtrack",Miles Teller,1987,0,Miles Teller (1987 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524
2829,tt1745960,7.0,8.4,465345,nm2676052,"director,writer,producer",Joseph Kosinski,1974,0,Joseph Kosinski (1974 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20221231084524

In [11]:
#################################################
# add row number for filmmakers with more than one release per year
#################################################
imdb['RN'] = imdb.sort_values(['nconst', 'tconst'], ascending=[True, False]) \
             .groupby(['nconst', 'startYear']) \
             .cumcount() + 1
imdb.tail(10)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year,rate_diff,last_refresh,RN
2540126,tt9916538,NaN,8.3,6,nm8678236,actress,Lala Karmela,1985,0,Lala Karmela (1985 - ),...,0,2019,0,123,Drama,Fiction,Kuambil Lagi Hatiku (2019),NaN,20221231084524,1
2540127,tt9916730,NaN,8.0,8,nm0059461,"actor,music_department",Sunil Barve,0,0,Sunil Barve,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540128,tt9916730,NaN,8.0,8,nm10538612,NaN,Kiran Gawade,0,0,Kiran Gawade,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540129,tt9916730,NaN,8.0,8,nm10538613,producer,Abhishek Jathar,0,0,Abhishek Jathar,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540130,tt9916730,NaN,8.0,8,nm10538614,producer,Ujjwala Gawde,0,0,Ujjwala Gawde,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540131,tt9916730,NaN,8.0,8,nm13233318,"production_manager,actor",Ganesh Vasant Patil,0,0,Ganesh Vasant Patil,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540132,tt9916730,NaN,8.0,8,nm1957275,"cinematographer,camera_department,producer",Suresh Deshmane,0,0,Suresh Deshmane,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540133,tt9916730,NaN,8.0,8,nm4852679,actor,Bhushan Pradhan,0,0,Bhushan Pradhan,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540134,tt9916730,NaN,8.0,8,nm6096005,actor,Devadhar Archit,0,0,Devadhar Archit,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1
2540135,tt9916730,NaN,8.0,8,nm9785908,"assistant_director,editor",Rohita More,0,0,Rohita More,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20221231084524,1

In [12]:
#################################################
#remove rows not needed 
#################################################

X = imdb[imdb['category']!= "production_designer"] 
X = X[X['category']!= "archive_sound"] 
#X = X[X['category']!= "archive_footage"]
print(X.shape, imdb.shape)

#X.sort_values(by=['tconst', 'averageRating'], ascending=False)
#################################################
# export to file
#################################################
X.to_csv('data/imdb.csv'  ,encoding='utf-8')

(2513403, 28) (2540136, 28)

In [13]:
X[X['tconst'] == "tt13833688"].head(15)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year,rate_diff,last_refresh,RN
1598960,tt13833688,NaN,8.1,8628,nm0000409,"actor,producer,soundtrack",Brendan Fraser,1968,0,Brendan Fraser (1968 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1
1598961,tt13833688,NaN,8.1,8628,nm0004716,"producer,writer,director",Darren Aronofsky,1969,0,Darren Aronofsky (1969 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,4
1598962,tt13833688,NaN,8.1,8628,nm0206154,"producer,visual_effects,editorial_department",Jeremy Dawson,0,0,Jeremy Dawson,...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1
1598963,tt13833688,NaN,8.1,8628,nm0359504,"producer,writer,actor",Ari Handel,0,0,Ari Handel,...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1
1598964,tt13833688,NaN,8.1,8628,nm0508732,"cinematographer,camera_department,actor",Matthew Libatique,1968,0,Matthew Libatique (1968 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1
1598965,tt13833688,NaN,8.1,8628,nm1339223,actor,Ty Simpkins,2001,0,Ty Simpkins (2001 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1
1598966,tt13833688,NaN,8.1,8628,nm1387379,"music_department,composer,soundtrack",Rob Simonsen,1978,0,Rob Simonsen (1978 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1
1598967,tt13833688,NaN,8.1,8628,nm2186865,"actress,writer,miscellaneous",Hong Chau,1979,0,Hong Chau (1979 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,3
1598968,tt13833688,NaN,8.1,8628,nm5584750,actress,Sadie Sink,2002,0,Sadie Sink (2002 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,2
1598969,tt13833688,NaN,8.1,8628,nm5926708,"writer,producer",Samuel D. Hunter,1981,0,Samuel D. Hunter (1981 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20221231084524,1

In [14]:
#################################################
# Distinct NCONST aggregation
#################################################
import numpy as np
N_avg = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ np.mean]                   
                   , values = ["tconst_imdb_rating", "tconst_your_rating"]
      ##             , fill_value = 0
             )
N_sum = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ np.sum]                   
                   , values = [ "tconst_imdb_num_votes"]
                   , fill_value = 0
             )
N_max = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ np.max]                   
                   , values = [ "startYear"]
                   , fill_value = 0
             )
N_cnt = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ 'count']  
                   , values = ["tconst"]
                   , fill_value = 0
             )

N_unique = pd.merge(   N_sum
                     , N_avg 
                     , how = 'inner', left_on=  [ 'nconst', 'primaryName_year', 'cat_cln'], right_on= [ 'nconst', 'primaryName_year', 'cat_cln']
                 )
N_unique = pd.merge(   N_unique
                     , N_cnt
                     , how = 'inner', left_on= [ 'nconst', 'primaryName_year', 'cat_cln'], right_on= [ 'nconst', 'primaryName_year', 'cat_cln']
                 )
N_unique = pd.merge(   N_unique
                     , N_max
                     , how = 'inner', left_on= [ 'nconst', 'primaryName_year', 'cat_cln'], right_on= [ 'nconst', 'primaryName_year', 'cat_cln']
                 )

#format column names - grouping created by pivo table
N_unique.columns = ['_'.join(str(s).strip() for s in col if s) for col in N_unique.columns]

#reset index
N_unique.reset_index(inplace=True)

N_unique.rename(columns = {  "sum_tconst_imdb_num_votes": "tconst_imdb_num_votes"
                           , "mean_tconst_imdb_rating":   "tconst_imdb_rating"
                           , "mean_tconst_your_rating":   "tconst_your_rating"
                           , "count_tconst":              "cnt_tconst"
                           , "amax_startYear":            "max_startYear"}
                           , inplace = True)

In [15]:
N_unique.head(3)

,nconst,primaryName_year,cat_cln,tconst_imdb_num_votes,tconst_imdb_rating,tconst_your_rating,cnt_tconst,max_startYear
0,nm0000001,Fred Astaire (1899 - 1987),actor,202248,6.711429,NaN,35,1981
1,nm0000001,Fred Astaire (1899 - 1987),self,9321,7.023077,NaN,13,2021
2,nm0000002,Lauren Bacall (1924 - 2014),actor,576268,6.424324,5.0,37,2012

In [16]:
# lst = ['nm0000001', 'nm0000002']
# N_unique =N_unique.query('nconst in @lst')
N_unique.to_csv('data/nconst.csv' , header=0 , encoding='utf-8')

In [17]:
############################################ 
### import festival inforamaion
############################################ 

var_list = ('Const','Title' , 'Description', 'Directors' , 'Genres', 'Release Date', 'URL')
 
############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls560308483/    Cannes 2022: Official Selections
## https://www.imdb.com/list/ls560342137     Cannes 75

fst = pd.DataFrame()
fst = pd.read_csv ("data/Cannes 2022 Official Selections.csv", encoding='latin-1')
fst = fst.loc[:, var_list]
fst.rename(columns = {    "Const": "tconst"}
                      , inplace = True)

fst['festival_name'] = 'Cannes'
fst['festival_year'] = '2022'

############################################ 
### import festival inforamaion - Sundance
############################################ 

## https://www.imdb.com/list/ls512369774/   sundance 2022
fst3 = pd.DataFrame()
fst3 = pd.read_csv ("data/Sundance 2022 Movie Guide.csv", encoding='latin-1')
fst3 = fst3.loc[:, var_list]
fst3.rename(columns = {    "Const": "tconst"} 
                      , inplace = True)
fst3['festival_name'] = 'Sundance'
fst3['festival_year'] = '2022'

## https://www.imdb.com/list/ls512369774/   sundance 2023
fst33 = pd.DataFrame()
fst33 = pd.read_csv ("data/Sundance 2023 Movie Guide.csv", encoding='latin-1')
fst33 = fst33.loc[:, var_list]
fst33.rename(columns = {    "Const": "tconst"} 
                      , inplace = True)
fst33['festival_name'] = 'Sundance'
fst33['festival_year'] = '2023'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls534810559/   sxsw 2022
fst4 = pd.DataFrame()
fst4 = pd.read_csv ("data/SXSW 2022 Festival Guide.csv", encoding='latin-1')
fst4 = fst4.loc[:, var_list]
fst4.rename(columns = {    "Const": "tconst"} 
                      , inplace = True)
fst4['festival_name'] = 'SXSW'
fst4['festival_year'] = '2022'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls565715845   Yesh 2022
fst1 = pd.DataFrame()
fst1 = pd.read_csv ("data/Yesh2022.csv", encoding='latin-1')
fst1 = fst1.loc[:, var_list]
fst1.rename(columns = {    "Const": "tconst"} 
                      , inplace = True)
fst1['festival_name'] = 'Yesh!'
fst1['festival_year'] = '2022'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls565715845   Yesh 2022
df1 = pd.DataFrame()
df1 = pd.read_csv ("data/Zurich Film Festival 2022.csv", encoding='latin-1')
df1 = df1.loc[:, var_list]
df1.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
df1['festival_name'] = 'ZFF'
df1['festival_year'] = '2022'


## https://www.imdb.com/list/ls565715845   Yesh 2021
df2 = pd.DataFrame()
## df2 = pd.read_csv ("data/Zurich Film Festival 2021.csv", encoding='latin-1')
## df2 = df2.loc[:, var_list]
## df2.rename(columns = {   "Const": "tconst"}
##                       , inplace = True)
## df2['festival_name'] = 'ZFF'
## df2['festival_year'] = '2021'


fst2 = pd.concat([df1, df2])
############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls567162891/   lff
fst5 = pd.DataFrame()
fst5 = pd.read_csv ("data/Locarno Film Festival 2022.csv", encoding='latin-1')
fst5 = fst5.loc[:, var_list]
fst5.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fst5['festival_name'] = 'LFF'
fst5['festival_year'] = '2022'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls567227005/  tiff
fst6 = pd.DataFrame()
fst6 = pd.read_csv ("data/2022 Toronto International Film Festival Movie Gui.csv", encoding='latin-1')
fst6 = fst6.loc[:, var_list]
fst6.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fst6['festival_name'] = 'TIFF'
fst6['festival_year'] = '2022'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls080103875/ oscars
fst7 = pd.DataFrame()
fst7 = pd.read_csv ("data/2022 Oscars - 94th Academy Awards predictions.csv", encoding='latin-1')
fst7 = fst7.loc[:, var_list]
fst7.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fst7['festival_name'] = 'Oscars'
fst7['festival_year'] = '2022'

## https://www.imdb.com/list/ls507023222/ oscars
fst8 = pd.DataFrame()
fst8 = pd.read_csv ("data/2023 Oscars - 95th Academy Awards predictions.csv", encoding='latin-1')
fst8 = fst8.loc[:, var_list]
fst8.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fst8['festival_name'] = 'Oscars'
fst8['festival_year'] = '2023'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls567153978/   what's on
fstw = pd.DataFrame()
fstw = pd.read_csv ("data/whatson.csv", encoding='latin-1')
fstw = fstw.loc[:, var_list]
fstw.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fstw['festival_name'] = 'WhatsOn'
fstw['festival_year'] = '2022'

union = pd.concat([fst, fst1])
union = pd.concat([union, fst2, fst3, fst33, fst4, fstw, fst5, fst6, fst7, fst8]) 
union.tail(3)

,tconst,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
44,tt3915174,Puss in Boots: The Last Wish,Best Animated Feature,"Januel Mercado, Joel Crawford","Animation, Adventure, Comedy, Family, Fantasy,...",2022-12-07,https://www.imdb.com/title/tt3915174/,Oscars,2023
45,tt10954984,Nope,Best Supporting Actress\n(Keke Palmer)\nBest V...,Jordan Peele,"Horror, Mystery, Sci-Fi, Thriller",2022-07-18,https://www.imdb.com/title/tt10954984/,Oscars,2023
46,tt11992694,Corsage,Best Actress\n(Vicky Krieps)\nBest Internation...,Marie Kreutzer,"Biography, Drama, History",2022-05-20,https://www.imdb.com/title/tt11992694/,Oscars,2023

In [18]:
          
Xfst = pd.merge(    X
                  , union 
                  , how = 'inner', left_on="tconst", right_on="tconst"
       #         , how = 'right', left_on="tconst", right_on="tconst"
                 )
Xfst.to_csv('data/Xfst.csv' , header=1 , encoding='utf-8')
Xfst.head(3)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,last_refresh,RN,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
0,tt10262648,8.0,7.3,11409,nm0041775,"actress,director",Yuliya Aug,1970,0,Yuliya Aug (1970 - ),...,20221231084524,3,Hytti nro 6,Best International Feature Film\n(Finland),Juho Kuosmanen,"Drama, Romance",2021-07-10,https://www.imdb.com/title/tt10262648/,Oscars,2022
1,tt10262648,8.0,7.3,11409,nm0238506,"actress,director,writer",Dinara Drukarova,1976,0,Dinara Drukarova (1976 - ),...,20221231084524,1,Hytti nro 6,Best International Feature Film\n(Finland),Juho Kuosmanen,"Drama, Romance",2021-07-10,https://www.imdb.com/title/tt10262648/,Oscars,2022
2,tt10262648,8.0,7.3,11409,nm0510162,"writer,director,actress",Rosa Liksom,1958,0,Rosa Liksom (1958 - ),...,20221231084524,1,Hytti nro 6,Best International Feature Film\n(Finland),Juho Kuosmanen,"Drama, Romance",2021-07-10,https://www.imdb.com/title/tt10262648/,Oscars,2022

In [19]:

union[union['festival_name'] == "LFF"].head(15)

,tconst,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
0,tt21226542,De noche los gatos son pardos,NaN,Valentin Merz,Fantasy,2022-08-31,https://www.imdb.com/title/tt21226542/,LFF,2022
1,tt14189076,Ariyippu,NaN,Mahesh Narayanan,Drama,2022-08-03,https://www.imdb.com/title/tt14189076/,LFF,2022
2,tt21227108,Skazka,NaN,Aleksandr Sokurov,NaN,2022-08-31,https://www.imdb.com/title/tt21227108/,LFF,2022
3,tt13846508,Human Flowers of Flesh,NaN,Helena Wittmann,Drama,2022-08-31,https://www.imdb.com/title/tt13846508/,LFF,2022
4,tt14661418,Il pataffio,NaN,Francesco Lagi,Drama,2022-08-18,https://www.imdb.com/title/tt14661418/,LFF,2022
5,tt21149114,Matter Out of Place,NaN,Nikolaus Geyrhalter,Documentary,2022-08-31,https://www.imdb.com/title/tt21149114/,LFF,2022
6,tt21226876,Piaffe,NaN,Ann Oren,NaN,2022-08-31,https://www.imdb.com/title/tt21226876/,LFF,2022
7,tt15520368,Regra 34,NaN,JÃºlia Murat,Drama,2022-08-31,https://www.imdb.com/title/tt15520368/,LFF,2022
8,tt15012246,Bowling Saturne,NaN,Patricia Mazuy,"Drama, Thriller",2022-08-31,https://www.imdb.com/title/tt15012246/,LFF,2022
9,tt21226152,Sermon to the Fish,NaN,Hilal Baydarov,NaN,2022-08-31,https://www.imdb.com/title/tt21226152/,LFF,2022
10,tt21227008,Serviam - Ich will dienen,NaN,Ruth Mader,NaN,2022-08-31,https://www.imdb.com/title/tt21227008/,LFF,2022
11,tt21042306,Stella est amoureuse,NaN,Sylvie Verheyde,"Comedy, Drama",2022-08-31,https://www.imdb.com/title/tt21042306/,LFF,2022
12,tt15438014,Stone Turtle,NaN,Ming Jin Woo,Sci-Fi,2022-08-06,https://www.imdb.com/title/tt15438014/,LFF,2022
13,tt21226698,Tales of the Purple House,NaN,Abbas Fahdel,NaN,2022-08-12,https://www.imdb.com/title/tt21226698/,LFF,2022
14,tt21227238,Tengo sueÃ±os elÃ©ctricos,NaN,Valentina Maurel,Drama,2022-08-31,https://www.imdb.com/title/tt21227238/,LFF,2022

In [20]:

# duplicate for rating dimension

import numpy as np
# Xfst2 = pd.DataFrame({'Xfst':['tconst','nconst'],})
# Xfst2 = pd.DataFrame({'Xfst':['tconst','nconst'],})
Xfst2 = Xfst.copy()   # panda refernces tables only, so explicit copy required
  
Xfst2['rating_category']           = 'IMDb'
Xfst2['tconst_num_votes']          = np.where(Xfst2['tconst_imdb_num_votes'].isnull(), 0, Xfst2['tconst_imdb_num_votes'])   
Xfst2['tconst_rating']             = np.where(Xfst2['tconst_imdb_rating'].isnull(), np.nan, Xfst2['tconst_imdb_rating'] )   
Xfst2.head(3)

Xfst3 = Xfst.copy()
  
Xfst3['rating_category']           = 'Profile_1'
#Xfst3['tconst_num_votes']          = 1   
#Xfst3['tconst_rating']             = np.where(Xfst3['tconst_your_rating'].isnull(), 0, Xfst3['tconst_your_rating'] )
Xfst3['tconst_num_votes']       = np.where(Xfst3['tconst_your_rating'].isnull(), 0, 1)
Xfst3['tconst_rating']          = np.where(Xfst3['tconst_your_rating'].isnull(), np.nan, Xfst3['tconst_your_rating'] )
Xfst3.head(3)
 

 
rating_duplicate = pd.concat([Xfst2, Xfst3], ignore_index=True) 
rating_duplicate.to_csv('data/rating_duplicate.csv' , header=1 , encoding='utf-8')

In [21]:
rating_duplicate.tail(4)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,Description,Directors,Genres,Release Date,URL,festival_name,festival_year,rating_category,tconst_num_votes,tconst_rating
13868,tt9783730,NaN,5.6,490,nm2125212,"producer,executive",Marty Bowen,0,0,Marty Bowen,...,Festival Category: Special Presentations,Sanaa Lathan,"Comedy, Drama, Music",2022-09-08,https://www.imdb.com/title/tt9783730/,TIFF,2022,Profile_1,0,NaN
13869,tt9783730,NaN,5.6,490,nm2327099,"producer,miscellaneous,executive",Isaac Klausner,0,0,Isaac Klausner,...,Festival Category: Special Presentations,Sanaa Lathan,"Comedy, Drama, Music",2022-09-08,https://www.imdb.com/title/tt9783730/,TIFF,2022,Profile_1,0,NaN
13870,tt9783730,NaN,5.6,490,nm6011279,"producer,writer,director",Kay Oyegun,0,0,Kay Oyegun,...,Festival Category: Special Presentations,Sanaa Lathan,"Comedy, Drama, Music",2022-09-08,https://www.imdb.com/title/tt9783730/,TIFF,2022,Profile_1,0,NaN
13871,tt9783730,NaN,5.6,490,nm8021571,"writer,producer",Angie Thomas,1988,0,Angie Thomas (1988 - ),...,Festival Category: Special Presentations,Sanaa Lathan,"Comedy, Drama, Music",2022-09-08,https://www.imdb.com/title/tt9783730/,TIFF,2022,Profile_1,0,NaN

In [22]:
N_unique.head(3)

,nconst,primaryName_year,cat_cln,tconst_imdb_num_votes,tconst_imdb_rating,tconst_your_rating,cnt_tconst,max_startYear
0,nm0000001,Fred Astaire (1899 - 1987),actor,202248,6.711429,NaN,35,1981
1,nm0000001,Fred Astaire (1899 - 1987),self,9321,7.023077,NaN,13,2021
2,nm0000002,Lauren Bacall (1924 - 2014),actor,576268,6.424324,5.0,37,2012

In [23]:
# duplicate for rating dimension



N2 = N_unique.copy()   # panda refernces tables only, so explicit copy required
  
N2['rating_category']           = 'IMDb'
N2['tconst_num_votes']          = np.where(N2['tconst_imdb_num_votes'].isnull(), 0, N2['tconst_imdb_num_votes'] )  
N2['tconst_rating']             = np.where(N2['tconst_imdb_rating'].isnull(), np.nan, N2['tconst_imdb_rating'] )   
N2.head(3)

N3 = N_unique.copy()
  
N3['rating_category']           = 'Profile_1'
N3['tconst_num_votes']          = np.where(N3['tconst_your_rating'].isnull(), 0, 1 )
N3['tconst_rating']             = np.where(N3['tconst_your_rating'].isnull(), np.nan, N3['tconst_your_rating'] )
N3.head(3)
 


nconst_duplicate = pd.concat([N2, N3], ignore_index=True) 
nconst_duplicate.to_csv('data/nconst_duplicate.csv' , header=1 , encoding='utf-8')

In [24]:
print(fst.shape, Xfst.shape)
nconst_duplicate.head(3)

(66, 9) (6936, 36)

,nconst,primaryName_year,cat_cln,tconst_imdb_num_votes,tconst_imdb_rating,tconst_your_rating,cnt_tconst,max_startYear,rating_category,tconst_num_votes,tconst_rating
0,nm0000001,Fred Astaire (1899 - 1987),actor,202248,6.711429,NaN,35,1981,IMDb,202248,6.711429
1,nm0000001,Fred Astaire (1899 - 1987),self,9321,7.023077,NaN,13,2021,IMDb,9321,7.023077
2,nm0000002,Lauren Bacall (1924 - 2014),actor,576268,6.424324,5.0,37,2012,IMDb,576268,6.424324

In [25]:
# Xfst.tail(3)
Xfst[Xfst['tconst'] == "tt13833688"].head(15)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,last_refresh,RN,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
2684,tt13833688,NaN,8.1,8628,nm0000409,"actor,producer,soundtrack",Brendan Fraser,1968,0,Brendan Fraser (1968 - ),...,20221231084524,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2685,tt13833688,NaN,8.1,8628,nm0000409,"actor,producer,soundtrack",Brendan Fraser,1968,0,Brendan Fraser (1968 - ),...,20221231084524,1,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2686,tt13833688,NaN,8.1,8628,nm0004716,"producer,writer,director",Darren Aronofsky,1969,0,Darren Aronofsky (1969 - ),...,20221231084524,4,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2687,tt13833688,NaN,8.1,8628,nm0004716,"producer,writer,director",Darren Aronofsky,1969,0,Darren Aronofsky (1969 - ),...,20221231084524,4,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2688,tt13833688,NaN,8.1,8628,nm0206154,"producer,visual_effects,editorial_department",Jeremy Dawson,0,0,Jeremy Dawson,...,20221231084524,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2689,tt13833688,NaN,8.1,8628,nm0206154,"producer,visual_effects,editorial_department",Jeremy Dawson,0,0,Jeremy Dawson,...,20221231084524,1,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2690,tt13833688,NaN,8.1,8628,nm0359504,"producer,writer,actor",Ari Handel,0,0,Ari Handel,...,20221231084524,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2691,tt13833688,NaN,8.1,8628,nm0359504,"producer,writer,actor",Ari Handel,0,0,Ari Handel,...,20221231084524,1,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2692,tt13833688,NaN,8.1,8628,nm0508732,"cinematographer,camera_department,actor",Matthew Libatique,1968,0,Matthew Libatique (1968 - ),...,20221231084524,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2693,tt13833688,NaN,8.1,8628,nm0508732,"cinematographer,camera_department,actor",Matthew Libatique,1968,0,Matthew Libatique (1968 - ),...,20221231084524,1,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2694,tt13833688,NaN,8.1,8628,nm1339223,actor,Ty Simpkins,2001,0,Ty Simpkins (2001 - ),...,20221231084524,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2695,tt13833688,NaN,8.1,8628,nm1339223,actor,Ty Simpkins,2001,0,Ty Simpkins (2001 - ),...,20221231084524,1,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2696,tt13833688,NaN,8.1,8628,nm1387379,"music_department,composer,soundtrack",Rob Simonsen,1978,0,Rob Simonsen (1978 - ),...,20221231084524,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
2697,tt13833688,NaN,8.1,8628,nm1387379,"music_department,composer,soundtrack",Rob Simonsen,1978,0,Rob Simonsen (1978 - ),...,20221231084524,1,The Whale,Best Actor\n(Brendan Fraser)\nBest Makeup and ...,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,Oscars,2023
2698,tt13833688,NaN,8.1,8628,nm2186865,"actress,writer,miscellaneous",Hong Chau,1979,0,Hong Chau (1979 - ),...,20221231084524,3,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022