In [1]:
#################################################
# IMDB ETL - Init
#################################################

import pandas as pd
import numpy  as np
###
# Null date conversion fun
def conv(val):
    if not val:
        return 0    
    try:
        return np.int(val)
    except:        
        return np.int(0)

In [2]:
import pandas as pd
import numpy  as np

#################################################
# Principals
#################################################

P = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t',encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                 #, error_bad_lines=False
                )
P["cat_cln"] = np.where (P['category'].str.contains('actor') | P['category'].str.contains('actress')
                         ,'actor'
                         ,P['category'])
P["cat_cln"] = np.where (P['category'].str.contains('self') | P['category'].str.contains('archive_footage')
                         ,'self',P['cat_cln'])


P.head(5)

,tconst,ordering,nconst,category,job,characters,cat_cln
0,tt0000001,1,nm1588970,self,\N,"[""Self""]",self
1,tt0000001,2,nm0005690,director,\N,\N,director
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,cinematographer
3,tt0000002,1,nm0721526,director,\N,\N,director
4,tt0000002,2,nm1335271,composer,\N,\N,composer

In [3]:
import pandas as pd
import numpy  as np
#################################################
# Titles
#################################################

def conv(val):
    if not val:
        return 0    
    try:
        return np.int(val)
    except:        
        return np.int(0)

T = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t'
                 , encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                #, error_bad_lines=False
                #, dtype={'startYear': int }
                 , converters={'startYear':conv,'endYear':conv}                
                ) 
T["flg_doc"]           = np.where (T['genres'].str.contains('Documentary'),'Documentary','Fiction')
T["primaryTitle_year"] = T['primaryTitle']  + ' ('+  T['startYear'].map(str)  + ')'
## filter movie 
T = T.loc[T.titleType == 'movie', :]

C:\Users\cw13\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
T.tail(1000)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year
9466145,tt9863566,movie,Urbanus: De Vuilnisheld,Urbanus: De Vuilnisheld,0,2019,0,72,"Animation,Comedy",Fiction,Urbanus: De Vuilnisheld (2019)
9466180,tt9863642,movie,Deceitful Tendencies,Deceitful Tendencies,0,2022,0,84,"Drama,Romance,Thriller",Fiction,Deceitful Tendencies (2022)
9466242,tt9863778,movie,A Kidnap,A Kidnap,0,0,0,\N,Thriller,Fiction,A Kidnap (0)
9466249,tt9863792,movie,Joshua trip,Joshua trip,0,2014,0,52,Documentary,Documentary,Joshua trip (2014)
9466252,tt9863798,movie,Diários Suspensos,Diários Suspensos,0,2016,0,92,"Documentary,Drama",Documentary,Diários Suspensos (2016)
...,...,...,...,...,...,...,...,...,...,...,...
9490565,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,0,57,Documentary,Documentary,Rodolpho Teóphilo - O Legado de um Pioneiro (2...
9490592,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,0,100,Documentary,Documentary,De la ilusión al desconcierto: cine colombiano...
9490604,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,\N,Comedy,Fiction,Dankyavar Danka (2013)
9490614,tt9916730,movie,6 Gunn,6 Gunn,0,2017,0,116,\N,Fiction,6 Gunn (2017)
9490624,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,0,49,Documentary,Documentary,Chico Albuquerque - Revelações (2013)

In [5]:
var_list = ('tconst','primaryTitle' , 'titleType')
#D = newdf.loc[:,('const','title', 'dat_per', 'title_type')]
D = T.loc[:, var_list]
D.head()
pd.get_dummies(D, columns=['titleType']).head(3)

        tconst                   primaryTitle  titleType_movie
8    tt0000009                     Miss Jerry                1
144  tt0000147  The Corbett-Fitzsimmons Fight                1
498  tt0000502                       Bohemios                1

In [6]:
#################################################
# Names
#################################################
    
N = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t',encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                 #, error_bad_lines=False
                 , converters={'birthYear':conv,'deathYear':conv}         
                )


#N["primaryName_year"] = N['primaryName']  + ' ('+  N['birthYear'].map(str) + ' - ' +  N['deathYear'].map(str)  + ')'

N["primaryName_year"] = N['primaryName']  + np.where(N['birthYear']==0, ' ',  ' ('+  N['birthYear'].map(str) + ' - '  +  np.where (N['deathYear'] == 0, ' ',  N['deathYear'].map(str)) + ')')
N.head(3)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,primaryName_year
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0045537,tt0053137,tt0072308,tt0050419",Fred Astaire (1899 - 1987)
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382",Lauren Bacall (1924 - 2014)
2,nm0000003,Brigitte Bardot,1934,0,"actress,soundtrack,music_department","tt0054452,tt0056404,tt0049189,tt0057345",Brigitte Bardot (1934 - )

In [7]:
#################################################
# Ratings
#################################################
R = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz'
                 , compression='gzip'
                 , delimiter='\t',encoding='utf-8'
                 , header=0
                # , sep= " "
                 , quotechar='"'
                 #, error_bad_lines=False
                )
R.rename(columns = {  "averageRating": "tconst_imdb_rating"
                      , "numVotes":   "tconst_imdb_num_votes"
                      , "Const": "tconst"}
                      , inplace = True)
R.tail(3)

            tconst  tconst_imdb_rating  tconst_imdb_num_votes
1261702  tt9916730                 8.0                      8
1261703  tt9916766                 7.0                     21
1261704  tt9916778                 7.2                     36

In [8]:
############################################ 
### import my Ratings 
############################################ 
myR = pd.DataFrame()
myR = pd.read_csv ("data/ratings.csv", encoding='latin-1')
myR.rename(columns = {  "Your Rating": "tconst_your_rating"
                      , "Num Votes":   "tconst_your_num_votes"
                      , "Const": "tconst"}
                      , inplace = True)
myR.tail(3)

,tconst,tconst_your_rating,Date Rated,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,tconst_your_num_votes,Release Date,Directors
953,tt0099699,7,2013-01-01,Green Card,https://www.imdb.com/title/tt0099699/,movie,6.3,107.0,1990,"Comedy, Drama, Romance",24851.0,1990-12-23,Peter Weir
954,tt0099703,6,2011-09-03,The Grifters,https://www.imdb.com/title/tt0099703/,movie,6.9,110.0,1990,"Crime, Drama, Thriller",28577.0,1990-09-14,Stephen Frears
955,tt0099818,7,2022-10-05,I Hired a Contract Killer,https://www.imdb.com/title/tt0099818/,movie,7.2,79.0,1990,"Comedy, Crime, Drama, Romance",6470.0,1990-09-13,Aki KaurismÃ¤ki

In [9]:
#################################################
# Join
#################################################
from datetime import datetime
             
imdb = pd.merge(    P
                  , T 
                  , how = 'inner', left_on="tconst", right_on="tconst"
                 )
imdb = pd.merge(     N.loc[:, ('nconst','primaryProfession', 'primaryName', 'birthYear', 'deathYear', 'primaryName_year')]
                  , imdb
                  , how = 'inner', left_on="nconst", right_on="nconst"
                 )
imdb = pd.merge(     R.loc[:, ('tconst','tconst_imdb_rating', 'tconst_imdb_num_votes')]
                  , imdb
                  , how = 'inner', left_on="tconst", right_on="tconst"
                 )
imdb = pd.merge(    myR.loc[:, ('tconst','tconst_your_rating')]
                  , imdb
                  , how = 'right', left_on="tconst", right_on="tconst"
                 )
imdb['rate_diff']           = imdb['tconst_your_rating'] - imdb['tconst_imdb_rating']
##imdb["age_crew"]            = int(imdb["birthYear_cln"]) -  int(imdb["startYear_cln"])
imdb["last_refresh"]        = datetime.now().strftime('%Y%m%d%H%M%S')
print(P.shape, imdb.shape)

(53880562, 7) (2541212, 27)

In [10]:
imdb[imdb['tconst'] == "tt1745960"].head(15)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year,rate_diff,last_refresh
2830,tt1745960,7.0,8.4,469419,nm0000124,actress,Jennifer Connelly,1970,0,Jennifer Connelly (1970 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2831,tt1745960,7.0,8.4,469419,nm0000129,"actor,producer,soundtrack",Tom Cruise,1962,0,Tom Cruise (1962 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2832,tt1745960,7.0,8.4,469419,nm0000174,"actor,soundtrack,producer",Val Kilmer,1959,0,Val Kilmer (1959 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2833,tt1745960,7.0,8.4,469419,nm0143596,writer,Jim Cash,1941,2000,Jim Cash (1941 - 2000),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2834,tt1745960,7.0,8.4,469419,nm0185976,"writer,producer,director",Peter Craig,1969,0,Peter Craig (1969 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2835,tt1745960,7.0,8.4,469419,nm0258390,"writer,camera_department,producer",Jack Epps Jr.,1949,0,Jack Epps Jr. (1949 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2836,tt1745960,7.0,8.4,469419,nm0472567,"writer,producer,script_department",Ehren Kruger,1972,0,Ehren Kruger (1972 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2837,tt1745960,7.0,8.4,469419,nm1098479,"writer,producer,miscellaneous",Justin Marks,0,0,Justin Marks,...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2838,tt1745960,7.0,8.4,469419,nm1886602,"actor,producer,soundtrack",Miles Teller,1987,0,Miles Teller (1987 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251
2839,tt1745960,7.0,8.4,469419,nm2676052,"director,writer,producer",Joseph Kosinski,1974,0,Joseph Kosinski (1974 - ),...,Top Gun: Maverick,0,2022,0,130,"Action,Drama",Fiction,Top Gun: Maverick (2022),-1.4,20230102082251

In [11]:
#################################################
# add row number for filmmakers with more than one release per year
#################################################
imdb['RN'] = imdb.sort_values(['nconst', 'tconst'], ascending=[True, False]) \
             .groupby(['nconst', 'startYear']) \
             .cumcount() + 1
imdb.tail(10)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year,rate_diff,last_refresh,RN
2541202,tt9916538,NaN,8.3,6,nm8678236,actress,Lala Karmela,1985,0,Lala Karmela (1985 - ),...,0,2019,0,123,Drama,Fiction,Kuambil Lagi Hatiku (2019),NaN,20230102082251,1
2541203,tt9916730,NaN,8.0,8,nm0059461,"actor,music_department",Sunil Barve,0,0,Sunil Barve,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541204,tt9916730,NaN,8.0,8,nm10538612,NaN,Kiran Gawade,0,0,Kiran Gawade,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541205,tt9916730,NaN,8.0,8,nm10538613,producer,Abhishek Jathar,0,0,Abhishek Jathar,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541206,tt9916730,NaN,8.0,8,nm10538614,producer,Ujjwala Gawde,0,0,Ujjwala Gawde,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541207,tt9916730,NaN,8.0,8,nm13233318,"production_manager,actor",Ganesh Vasant Patil,0,0,Ganesh Vasant Patil,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541208,tt9916730,NaN,8.0,8,nm1957275,"cinematographer,camera_department,producer",Suresh Deshmane,0,0,Suresh Deshmane,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541209,tt9916730,NaN,8.0,8,nm4852679,actor,Bhushan Pradhan,0,0,Bhushan Pradhan,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541210,tt9916730,NaN,8.0,8,nm6096005,actor,Devadhar Archit,0,0,Devadhar Archit,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1
2541211,tt9916730,NaN,8.0,8,nm9785908,"assistant_director,editor",Rohita More,0,0,Rohita More,...,0,2017,0,116,\N,Fiction,6 Gunn (2017),NaN,20230102082251,1

In [12]:
#################################################
#remove rows not needed 
#################################################

X = imdb[imdb['category']!= "production_designer"] 
X = X[X['category']!= "archive_sound"] 
#X = X[X['category']!= "archive_footage"]
print(X.shape, imdb.shape)

#X.sort_values(by=['tconst', 'averageRating'], ascending=False)
#################################################
# export to file
#################################################
X.to_csv('data/imdb.csv'  ,encoding='utf-8')

(2514469, 28) (2541212, 28)

In [13]:
X[X['tconst'] == "tt13833688"].head(15)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,isAdult,startYear,endYear,runtimeMinutes,genres,flg_doc,primaryTitle_year,rate_diff,last_refresh,RN
1599220,tt13833688,NaN,8.1,9311,nm0000409,"actor,producer,soundtrack",Brendan Fraser,1968,0,Brendan Fraser (1968 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1
1599221,tt13833688,NaN,8.1,9311,nm0004716,"producer,writer,director",Darren Aronofsky,1969,0,Darren Aronofsky (1969 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,4
1599222,tt13833688,NaN,8.1,9311,nm0206154,"producer,visual_effects,editorial_department",Jeremy Dawson,0,0,Jeremy Dawson,...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1
1599223,tt13833688,NaN,8.1,9311,nm0359504,"producer,writer,actor",Ari Handel,0,0,Ari Handel,...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1
1599224,tt13833688,NaN,8.1,9311,nm0508732,"cinematographer,camera_department,actor",Matthew Libatique,1968,0,Matthew Libatique (1968 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1
1599225,tt13833688,NaN,8.1,9311,nm1339223,actor,Ty Simpkins,2001,0,Ty Simpkins (2001 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1
1599226,tt13833688,NaN,8.1,9311,nm1387379,"music_department,composer,soundtrack",Rob Simonsen,1978,0,Rob Simonsen (1978 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1
1599227,tt13833688,NaN,8.1,9311,nm2186865,"actress,writer,miscellaneous",Hong Chau,1979,0,Hong Chau (1979 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,3
1599228,tt13833688,NaN,8.1,9311,nm5584750,actress,Sadie Sink,2002,0,Sadie Sink (2002 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,2
1599229,tt13833688,NaN,8.1,9311,nm5926708,"writer,producer",Samuel D. Hunter,1981,0,Samuel D. Hunter (1981 - ),...,0,2022,0,117,Drama,Fiction,The Whale (2022),NaN,20230102082251,1

In [14]:
#################################################
# Distinct NCONST aggregation
#################################################
import numpy as np
N_avg = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ np.mean]                   
                   , values = ["tconst_imdb_rating", "tconst_your_rating"]
      ##             , fill_value = 0
             )
N_sum = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ np.sum]                   
                   , values = [ "tconst_imdb_num_votes"]
                   , fill_value = 0
             )
N_max = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ np.max]                   
                   , values = [ "startYear"]
                   , fill_value = 0
             )
N_cnt = X.pivot_table(  index   = ( 'nconst', 'primaryName_year', 'cat_cln')
                   , aggfunc = [ 'count']  
                   , values = ["tconst"]
                   , fill_value = 0
             )

N_unique = pd.merge(   N_sum
                     , N_avg 
                     , how = 'inner', left_on=  [ 'nconst', 'primaryName_year', 'cat_cln'], right_on= [ 'nconst', 'primaryName_year', 'cat_cln']
                 )
N_unique = pd.merge(   N_unique
                     , N_cnt
                     , how = 'inner', left_on= [ 'nconst', 'primaryName_year', 'cat_cln'], right_on= [ 'nconst', 'primaryName_year', 'cat_cln']
                 )
N_unique = pd.merge(   N_unique
                     , N_max
                     , how = 'inner', left_on= [ 'nconst', 'primaryName_year', 'cat_cln'], right_on= [ 'nconst', 'primaryName_year', 'cat_cln']
                 )

#format column names - grouping created by pivo table
N_unique.columns = ['_'.join(str(s).strip() for s in col if s) for col in N_unique.columns]

#reset index
N_unique.reset_index(inplace=True)

N_unique.rename(columns = {  "sum_tconst_imdb_num_votes": "tconst_imdb_num_votes"
                           , "mean_tconst_imdb_rating":   "tconst_imdb_rating"
                           , "mean_tconst_your_rating":   "tconst_your_rating"
                           , "count_tconst":              "cnt_tconst"
                           , "amax_startYear":            "max_startYear"}
                           , inplace = True)

In [15]:
N_unique.head(3)

,nconst,primaryName_year,cat_cln,tconst_imdb_num_votes,tconst_imdb_rating,tconst_your_rating,cnt_tconst,max_startYear
0,nm0000001,Fred Astaire (1899 - 1987),actor,202410,6.711429,NaN,35,1981
1,nm0000001,Fred Astaire (1899 - 1987),self,9342,7.023077,NaN,13,2021
2,nm0000002,Lauren Bacall (1924 - 2014),actor,576539,6.424324,5.0,37,2012

In [16]:
# lst = ['nm0000001', 'nm0000002']
# N_unique =N_unique.query('nconst in @lst')
N_unique.to_csv('data/nconst.csv' , header=0 , encoding='utf-8')

In [17]:
############################################ 
import pandas as pd 
import os

############################################ 
### import festival inforamaion
############################################ 

var_list = ('Const','Title' , 'Description', 'Directors' , 'Genres', 'Release Date', 'URL')
 
############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls560308483/    Cannes 2022: Official Selections
## https://www.imdb.com/list/ls560342137     Cannes 75

fst = pd.DataFrame()
fst = pd.read_csv ("data/Cannes 2022 Official Selections.csv", encoding='latin-1')
fst = fst.loc[:, var_list]
fst.rename(columns = {    "Const": "tconst"}
                      , inplace = True)

fst['festival_name'] = 'Cannes'
fst['festival_year'] = '2022'

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls565715845   Yesh 2022
fst1 = pd.DataFrame()
fst1 = pd.read_csv ("data/Yesh2022.csv", encoding='latin-1')
fst1 = fst1.loc[:, var_list]
fst1.rename(columns = {    "Const": "tconst"} 
                      , inplace = True)
fst1['festival_name'] = 'Yesh!'
fst1['festival_year'] = '2022'

############################################ 
### import ZFF lists 2011 - 2021  
############################################ 
fst2 = pd.DataFrame()
for i in range(2021,2022+1):
    
    if os.path.exists("data/Zurich Film Festival " + str(i) + ".csv"):
 
        dfx = pd.read_csv (("data/Zurich Film Festival " + str(i) + ".csv"), encoding='latin-1')
        dfx = dfx.loc[:, var_list ]
        dfx['festival_name'] = 'ZFF'
        dfx['festival_year'] = i

        fst2          = fst2.append(dfx)                  #add all rouws
    
fst2.rename(columns = {"Const": "tconst"}
                      , inplace = True
          )

############################################ 
### import festival inforamaion - Sundance
## https://www.imdb.com/list/ls512369774/   sundance 2022
############################################ 

fst3 = pd.DataFrame()
for i in range(2020,2023+1):
    
    if os.path.exists("data/Sundance " + str(i) + " Movie Guide.csv"):
 
        dfx = pd.read_csv (("data/Sundance " + str(i) + " Movie Guide.csv"), encoding='latin-1')
        dfx = dfx.loc[:, var_list ]
        dfx['festival_name'] = 'Sundance'
        dfx['festival_year'] = i

        fst3          = fst3.append(dfx)                  #add all rouws
    
fst3.rename(columns = {"Const": "tconst"}
                      , inplace = True
          )

############################################ 
### import festival inforamaion SXSW
############################################ 

## https://www.imdb.com/list/ls534810559/   sxsw 2022
fst4 = pd.DataFrame()
fst4 = pd.read_csv ("data/SXSW 2022 Festival Guide.csv", encoding='latin-1')
fst4 = fst4.loc[:, var_list]
fst4.rename(columns = {    "Const": "tconst"} 
                      , inplace = True)
fst4['festival_name'] = 'SXSW'
fst4['festival_year'] = '2022'

############################################ 
### import festival inforamaion LFF
############################################ 

## https://www.imdb.com/list/ls567162891/   lff
fst5 = pd.DataFrame()
fst5 = pd.read_csv ("data/Locarno Film Festival 2022.csv", encoding='latin-1')
fst5 = fst5.loc[:, var_list]
fst5.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fst5['festival_name'] = 'LFF'
fst5['festival_year'] = '2022'

############################################ 
### import festival inforamaion TIFF
############################################ 

## https://www.imdb.com/list/ls567227005/  tiff
fst6 = pd.DataFrame()
fst6 = pd.read_csv ("data/2022 Toronto International Film Festival Movie Gui.csv", encoding='latin-1')
fst6 = fst6.loc[:, var_list]
fst6.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fst6['festival_name'] = 'TIFF'
fst6['festival_year'] = '2022'

############################################ 
### import Oscar lists   
### https://www.imdb.com/list/ls080103875/ oscars
############################################ 
fst8 = pd.DataFrame()
for i in range(2021,2023+1):
    
    if os.path.exists("data/" + str(i) + " Oscars - Academy Awards predictions.csv"):
 
        dfx = pd.read_csv (("data/" + str(i) + " Oscars - Academy Awards predictions.csv"), encoding='latin-1')
        dfx = dfx.loc[:, var_list ]
        dfx['festival_name'] = 'Oscars'
        dfx['festival_year'] = i

        fst8          = fst8.append(dfx)                  #add all rouws
    
fst8.rename(columns = {"Const": "tconst"}
                      , inplace = True
          )

############################################ 
### import festival inforamaion
############################################ 

## https://www.imdb.com/list/ls567153978/   what's on
fstw = pd.DataFrame()
fstw = pd.read_csv ("data/whatson.csv", encoding='latin-1')
fstw = fstw.loc[:, var_list]
fstw.rename(columns = {   "Const": "tconst"}
                      , inplace = True)
fstw['festival_name'] = 'WhatsOn'
fstw['festival_year'] = '2022'

############################################ 
### import The Year in Movies
############################################ 
fst0 = pd.DataFrame()
for i in range(2021,2022+1):
    
    if os.path.exists("data/" + str(i) + " - The year in movies.csv"):
 
        dfx = pd.read_csv (("data/" + str(i) + " - The year in movies.csv"), encoding='latin-1')
        dfx = dfx.loc[:, var_list ]
        dfx['festival_name'] = 'YTD'
        dfx['festival_year'] = i

        fst0          = fst0.append(dfx)                  #add all rouws
    
fst0.rename(columns = {"Const": "tconst"}
                      , inplace = True
          )

############################################ 
### Union
############################################ 
union = pd.concat([fst, fst1, fst2, fst3, fst4, fst5, fst6, fst8, fstw, fst0])
union.tail(3)

,tconst,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
111,tt15740736,TÃ©nor,NaN,Claude Zidi Jr.,"Comedy, Drama, Music",2022-04-07,https://www.imdb.com/title/tt15740736/,YTD,2022
112,tt21335690,Einfach mal was SchÃ¶nes,NaN,Karoline Herfurth,"Comedy, Drama, Romance",2022-11-17,https://www.imdb.com/title/tt21335690/,YTD,2022
113,tt3312830,Youth,NaN,Paolo Sorrentino,"Comedy, Drama, Music, Romance",2015-05-20,https://www.imdb.com/title/tt3312830/,YTD,2022

In [18]:
fst3.head(13)

,tconst,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
0,tt12311620,892,Category: U.S. Dramatic,Abi Damaris Corbin,"Drama, Thriller",2022-01-21,https://www.imdb.com/title/tt12311620/,Sundance,2022
1,tt11040762,Alice,Category: U.S. Dramatic,Krystin Ver Linden,Drama,2022-01-23,https://www.imdb.com/title/tt11040762/,Sundance,2022
2,tt11284768,Blood,Category: U.S. Dramatic,Bradley Rust Gray,Drama,2022-01-24,https://www.imdb.com/title/tt11284768/,Sundance,2022
3,tt14376344,Cha Cha Real Smooth,Category: U.S. Dramatic,Cooper Raiff,"Comedy, Drama",2022-01-23,https://www.imdb.com/title/tt14376344/,Sundance,2022
4,tt9005184,Dual,Category: U.S. Dramatic,Riley Stearns,"Sci-Fi, Thriller",2022-01-22,https://www.imdb.com/title/tt9005184/,Sundance,2022
5,tt13650600,Emergency,Category: U.S. Dramatic,Carey Williams,"Comedy, Drama, Thriller",2022-01-20,https://www.imdb.com/title/tt13650600/,Sundance,2022
6,tt11286210,Master,Category: U.S. Dramatic,Mariama Diallo,"Drama, Horror, Mystery, Thriller",2022-01-21,https://www.imdb.com/title/tt11286210/,Sundance,2022
7,tt10931784,Nanny,Category: U.S. Dramatic,Nikyatu Jusu,"Horror, Thriller",2022-01-22,https://www.imdb.com/title/tt10931784/,Sundance,2022
8,tt15257116,Palm Trees and Power Lines,Category: U.S. Dramatic,Jamie Dack,Drama,2022-01-24,https://www.imdb.com/title/tt15257116/,Sundance,2022
9,tt12004038,Watcher,Category: U.S. Dramatic,Chloe Okuno,"Drama, Horror, Thriller",2022-01-21,https://www.imdb.com/title/tt12004038/,Sundance,2022
10,tt16376478,Aftershock,Category: U.S. Dramatic,"Paula Eiselt, Tonya Lewis Lee",Documentary,2022-01-23,https://www.imdb.com/title/tt16376478/,Sundance,2022
11,tt16376494,Descendant,Category: U.S. Dramatic,Margaret Brown,"Documentary, History",2022-01-22,https://www.imdb.com/title/tt16376494/,Sundance,2022
12,tt16227014,Fire of Love,Category: U.S. Dramatic,Sara Dosa,Documentary,2022-01-20,https://www.imdb.com/title/tt16227014/,Sundance,2022

In [19]:
          
Xfst = pd.merge(    X
                  , union 
                  , how = 'inner', left_on="tconst", right_on="tconst"
       #         , how = 'right', left_on="tconst", right_on="tconst"
                 )
Xfst.to_csv('data/Xfst.csv' , header=1 , encoding='utf-8')
Xfst.head(3)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,last_refresh,RN,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
0,tt10262648,8.0,7.3,11463,nm0041775,"actress,director",Yuliya Aug,1970,0,Yuliya Aug (1970 - ),...,20230102082251,3,Hytti nro 6,NaN,Juho Kuosmanen,Drama,2021-07-10,https://www.imdb.com/title/tt10262648/,ZFF,2021
1,tt10262648,8.0,7.3,11463,nm0041775,"actress,director",Yuliya Aug,1970,0,Yuliya Aug (1970 - ),...,20230102082251,3,Hytti nro 6,Best International Feature Film\n(Finland),Juho Kuosmanen,"Drama, Romance",2021-07-10,https://www.imdb.com/title/tt10262648/,Oscars,2022
2,tt10262648,8.0,7.3,11463,nm0041775,"actress,director",Yuliya Aug,1970,0,Yuliya Aug (1970 - ),...,20230102082251,3,Hytti nro 6,NaN,Juho Kuosmanen,"Drama, Romance",2021-07-10,https://www.imdb.com/title/tt10262648/,YTD,2022

In [20]:

union[union['festival_name'] == "ZFF"].head(15)

,tconst,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
0,tt11136276,Azor,NaN,Andreas Fontana,Drama,2021-04-25,https://www.imdb.com/title/tt11136276/,ZFF,2021
1,tt13086274,Everything Will Change,NaN,Marten Persiel,Drama,2021-09-24,https://www.imdb.com/title/tt13086274/,ZFF,2021
2,tt14775784,Grosse Freiheit,NaN,Sebastian Meise,Drama,2021-07-08,https://www.imdb.com/title/tt14775784/,ZFF,2021
3,tt14507178,Behind the Headlines,NaN,Daniel Andreas Sager,Documentary,2021-04-23,https://www.imdb.com/title/tt14507178/,ZFF,2021
4,tt6811556,Ich Ich Ich,NaN,Zora Rux,"Comedy, Drama, Romance",2021-09-25,https://www.imdb.com/title/tt6811556/,ZFF,2021
5,tt14077794,La Mif,NaN,Fred Baillif,Drama,2021-06-12,https://www.imdb.com/title/tt14077794/,ZFF,2021
6,tt13332668,Momentum,NaN,Edwin Charmillot,Drama,2021-09-25,https://www.imdb.com/title/tt13332668/,ZFF,2021
7,tt14409214,Monday um zehn,NaN,Mareille Klein,"Comedy, Drama",2021-07-05,https://www.imdb.com/title/tt14409214/,ZFF,2021
8,tt14573620,Room Without a View,NaN,Roser Corella,Documentary,2021-04-24,https://www.imdb.com/title/tt14573620/,ZFF,2021
9,tt11132688,YOUTH TOPIA,NaN,Dennis Stormer,"Comedy, Drama",2021-09-25,https://www.imdb.com/title/tt11132688/,ZFF,2021
10,tt8399288,Memoria,NaN,Apichatpong Weerasethakul,Drama,2021-07-15,https://www.imdb.com/title/tt8399288/,ZFF,2021
11,tt10370710,Verdens verste menneske,NaN,Joachim Trier,"Comedy, Drama",2021-07-09,https://www.imdb.com/title/tt10370710/,ZFF,2021
12,tt6920356,The Souvenir,NaN,Joanna Hogg,"Drama, Mystery, Romance",2019-01-27,https://www.imdb.com/title/tt6920356/,ZFF,2021
13,tt6992978,The Souvenir: Part II,NaN,Joanna Hogg,Drama,2021-07-08,https://www.imdb.com/title/tt6992978/,ZFF,2021
14,tt10687506,The Electrical Life of Louis Wain,Category: GALA PRESENTATIONS,Will Sharpe,"Biography, Drama, History",2021-09-02,https://www.imdb.com/title/tt10687506/,ZFF,2021

In [21]:

# duplicate for rating dimension

import numpy as np
# Xfst2 = pd.DataFrame({'Xfst':['tconst','nconst'],})
# Xfst2 = pd.DataFrame({'Xfst':['tconst','nconst'],})
Xfst2 = Xfst.copy()   # panda refernces tables only, so explicit copy required
  
Xfst2['rating_category']           = 'IMDb'
Xfst2['tconst_num_votes']          = np.where(Xfst2['tconst_imdb_num_votes'].isnull(), 0, Xfst2['tconst_imdb_num_votes'])   
Xfst2['tconst_rating']             = np.where(Xfst2['tconst_imdb_rating'].isnull(), np.nan, Xfst2['tconst_imdb_rating'] )   
Xfst2.head(3)

Xfst3 = Xfst.copy()
  
Xfst3['rating_category']           = 'Profile_1'
#Xfst3['tconst_num_votes']          = 1   
#Xfst3['tconst_rating']             = np.where(Xfst3['tconst_your_rating'].isnull(), 0, Xfst3['tconst_your_rating'] )
Xfst3['tconst_num_votes']       = np.where(Xfst3['tconst_your_rating'].isnull(), 0, 1)
Xfst3['tconst_rating']          = np.where(Xfst3['tconst_your_rating'].isnull(), np.nan, Xfst3['tconst_your_rating'] )
Xfst3.head(3)
 

 
rating_duplicate = pd.concat([Xfst2, Xfst3], ignore_index=True) 
rating_duplicate.to_csv('data/rating_duplicate.csv' , header=1 , encoding='utf-8')

In [22]:
rating_duplicate.tail(4)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,Description,Directors,Genres,Release Date,URL,festival_name,festival_year,rating_category,tconst_num_votes,tconst_rating
18990,tt9812474,NaN,6.3,29388,nm1155349,"actor,writer,producer",Björn Hlynur Haraldsson,1974,0,Björn Hlynur Haraldsson (1974 - ),...,NaN,Valdimar Jóhannsson,"Drama, Horror, Mystery",2021-07-13,https://www.imdb.com/title/tt9812474/,ZFF,2021,Profile_1,0,NaN
18991,tt9812474,NaN,6.3,29388,nm2629897,"assistant_director,producer,miscellaneous",Sara Nassim,0,0,Sara Nassim,...,NaN,Valdimar Jóhannsson,"Drama, Horror, Mystery",2021-07-13,https://www.imdb.com/title/tt9812474/,ZFF,2021,Profile_1,0,NaN
18992,tt9812474,NaN,6.3,29388,nm5762091,"camera_department,special_effects,director",Valdimar Jóhannsson,1978,0,Valdimar Jóhannsson (1978 - ),...,NaN,Valdimar Jóhannsson,"Drama, Horror, Mystery",2021-07-13,https://www.imdb.com/title/tt9812474/,ZFF,2021,Profile_1,0,NaN
18993,tt9812474,NaN,6.3,29388,nm6227084,"producer,miscellaneous,director",Jan Naszewski,0,0,Jan Naszewski,...,NaN,Valdimar Jóhannsson,"Drama, Horror, Mystery",2021-07-13,https://www.imdb.com/title/tt9812474/,ZFF,2021,Profile_1,0,NaN

In [23]:
N_unique.head(3)

,nconst,primaryName_year,cat_cln,tconst_imdb_num_votes,tconst_imdb_rating,tconst_your_rating,cnt_tconst,max_startYear
0,nm0000001,Fred Astaire (1899 - 1987),actor,202410,6.711429,NaN,35,1981
1,nm0000001,Fred Astaire (1899 - 1987),self,9342,7.023077,NaN,13,2021
2,nm0000002,Lauren Bacall (1924 - 2014),actor,576539,6.424324,5.0,37,2012

In [24]:
# duplicate for rating dimension



N2 = N_unique.copy()   # panda refernces tables only, so explicit copy required
  
N2['rating_category']           = 'IMDb'
N2['tconst_num_votes']          = np.where(N2['tconst_imdb_num_votes'].isnull(), 0, N2['tconst_imdb_num_votes'] )  
N2['tconst_rating']             = np.where(N2['tconst_imdb_rating'].isnull(), np.nan, N2['tconst_imdb_rating'] )   
N2.head(3)

N3 = N_unique.copy()
  
N3['rating_category']           = 'Profile_1'
N3['tconst_num_votes']          = np.where(N3['tconst_your_rating'].isnull(), 0, 1 )
N3['tconst_rating']             = np.where(N3['tconst_your_rating'].isnull(), np.nan, N3['tconst_your_rating'] )
N3.head(3)
 


nconst_duplicate = pd.concat([N2, N3], ignore_index=True) 
nconst_duplicate.to_csv('data/nconst_duplicate.csv' , header=1 , encoding='utf-8')

In [25]:
print(fst.shape, Xfst.shape)
nconst_duplicate.head(3)

(66, 9) (9497, 36)

,nconst,primaryName_year,cat_cln,tconst_imdb_num_votes,tconst_imdb_rating,tconst_your_rating,cnt_tconst,max_startYear,rating_category,tconst_num_votes,tconst_rating
0,nm0000001,Fred Astaire (1899 - 1987),actor,202410,6.711429,NaN,35,1981,IMDb,202410,6.711429
1,nm0000001,Fred Astaire (1899 - 1987),self,9342,7.023077,NaN,13,2021,IMDb,9342,7.023077
2,nm0000002,Lauren Bacall (1924 - 2014),actor,576539,6.424324,5.0,37,2012,IMDb,576539,6.424324

In [26]:
# Xfst.tail(3)
Xfst[Xfst['tconst'] == "tt13833688"].head(15)

,tconst,tconst_your_rating,tconst_imdb_rating,tconst_imdb_num_votes,nconst,primaryProfession,primaryName,birthYear,deathYear,primaryName_year,...,last_refresh,RN,Title,Description,Directors,Genres,Release Date,URL,festival_name,festival_year
4744,tt13833688,NaN,8.1,9311,nm0000409,"actor,producer,soundtrack",Brendan Fraser,1968,0,Brendan Fraser (1968 - ),...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4745,tt13833688,NaN,8.1,9311,nm0004716,"producer,writer,director",Darren Aronofsky,1969,0,Darren Aronofsky (1969 - ),...,20230102082251,4,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4746,tt13833688,NaN,8.1,9311,nm0206154,"producer,visual_effects,editorial_department",Jeremy Dawson,0,0,Jeremy Dawson,...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4747,tt13833688,NaN,8.1,9311,nm0359504,"producer,writer,actor",Ari Handel,0,0,Ari Handel,...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4748,tt13833688,NaN,8.1,9311,nm0508732,"cinematographer,camera_department,actor",Matthew Libatique,1968,0,Matthew Libatique (1968 - ),...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4749,tt13833688,NaN,8.1,9311,nm1339223,actor,Ty Simpkins,2001,0,Ty Simpkins (2001 - ),...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4750,tt13833688,NaN,8.1,9311,nm1387379,"music_department,composer,soundtrack",Rob Simonsen,1978,0,Rob Simonsen (1978 - ),...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4751,tt13833688,NaN,8.1,9311,nm2186865,"actress,writer,miscellaneous",Hong Chau,1979,0,Hong Chau (1979 - ),...,20230102082251,3,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4752,tt13833688,NaN,8.1,9311,nm5584750,actress,Sadie Sink,2002,0,Sadie Sink (2002 - ),...,20230102082251,2,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022
4753,tt13833688,NaN,8.1,9311,nm5926708,"writer,producer",Samuel D. Hunter,1981,0,Samuel D. Hunter (1981 - ),...,20230102082251,1,The Whale,Festival Category: Special Presentations,Darren Aronofsky,Drama,2022-09-04,https://www.imdb.com/title/tt13833688/,TIFF,2022